[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/ctags"]
	path = external/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "external/wxMaterialDesignArtProvider"]
	path = external/wxMaterialDesignArtProvider
	url = https://github.com/perazz/wxMaterialDesignArtProvider
