version: 21.10.0.{build}

clone_folder: c:\projects\wex

clone_depth: 250

environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    BOOST: 73
    YEAR: 2019

configuration: 
  - Debug

install:
  - git config http.postBuffer 1048576000
  - git submodule init && git submodule update --init --recursive

before_build:
  - mkdir build && cd build

build_script:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\%YEAR%\Community\VC\Auxiliary\Build\vcvars32.bat"
  - cmake -DBOOST_ROOT=C:\Libraries\boost_1_%BOOST%_0 -DCMAKE_BUILD_TYPE=%configuration% -DwexBUILD_TESTS=ON -DwexENABLE_GETTEXT=ON ..
  - echo %configuration%
  - devenv wex.sln /build %configuration%
  # extra line wit arg /project RUN_TESTS is simpler,
  # but does not give details
  - ctest -C %configuration% -V

  # does not work with Debug, but Release gives invalid return after ui test
  # - ..\ci\pack.bat
  # As administrator:
  # cmake.exe -P cmake_install.cmake
  # and in syncped do a build

test: OFF

artifacts:
  # In common.cmake the artifact is generated.
  # path: 'build\syncped-v20.10.0.zip'
