[Desktop Entry]
Name=syncped
GenericName=syncped text editor
Version=1.0
Exec=syncped %F
Icon=/usr/share/icons/hicolor/scalable/syncped.svg
Terminal=false
Type=Application
Categories=Development;GTK;
StartupNotify=true
Keywords=Editor;vi;
Comment=Portable vi compatible editor
