name: github-ci

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        
    - name: boost and gtk3
      run: sudo apt-get update && sudo apt-get install -yq libboost-all-dev liblzma5 libjbig0 libgtk-3-dev
            
    - name: configure
      run: export CC=gcc-9 && export CXX=g++-9 && mkdir build && cd build && cmake ..

    - name: make
      run: cd build && make
