name: Lint Code Base

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
        
    - name: Lint Code Base
      uses: docker://github/super-linter:v3
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        # we use escape sequence in wex-macros.xml
        VALIDATE_XML: false

        # exclude xsl
        FILTER_REGEX_EXCLUDE: .*data/*.xsl
